{% extends 'base.html' %}
{% block content %}

<h2>Mis Préstamos</h2>

<div class="list-group mt-3">

    {% for prestamo in prestamos %}

    <a href="#" class="list-group-item list-group-item-action py-3">

        <!-- Aquí se añade el Estudiante solicitante -->
        <strong>Préstamo #{{ prestamo.id }}</strong> 
        <span class="ms-2 text-dark">
            — Solicitado por: <strong>{{ prestamo.estudiante.get_full_name|default:prestamo.estudiante.username }}</strong>
        </span>

        <span class="text-muted ms-3">
            — {{ prestamo.fecha_prestamo|date:"d/m/Y" }}
        </span>

        <br><br>

        <span class="badge bg-success">
            {{ prestamo.estado }}
        </span>

    </a>

    {% empty %}

    <div class="list-group-item text-muted">
        No tienes préstamos registrados.
    </div>

    {% endfor %}

</div>

{% endblock %}